.unex-loading{
  position: relative;
 // flex-grow: 1;
  .unex-loading-wrap{
    z-index: 9;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;


    img{
      width: 64px ;
      height: auto;
      

    }

  }

  &.unex-loading-search{
    .unex-loading-wrap{
      opacity: .7;
    }

  }
  .unex-loading-empty-warp{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    z-index: 9;
    .unex-loading-empty-warp-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      i{
        color:$--color-primary;
        font-size: 14px;
        margin-right: 8px;
      };
      img{
        width: 160px;


      }
      .unex-loading-error-message{
        margin-top: 8px;
        font-size:12px;
        // color: $--color-text-secondary;
        line-height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

  }
}